body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper{
  margin: 0 auto;
  padding: 0 30px;
  width: 1020px;
}

.header {
  background: #2d303a;
  border-bottom: 6px solid #323746;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 34px 0;
}
.logo {
  
}
.logo a {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.logo a:after {
  content: '*';
  color: #f06c64;
}
.navigation {
  align-items: center;
  display: flex;
  height: 100%;
}
.navigation-item {
  padding: 0 15px;
  position: relative;
}
.navigation-item:nth-child(n+3):after {
  color: #494e62;
  content: ".";
  left: 0;
  position: absolute;
  top: -3px;
}
.navigation-item a {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.navigation-item a.active {
  color: #f06c64;
}
.slider {
  background: #f06c64;
}
